body,
a,
input,
textarea {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Cormorant Garamond', serif;
}

textarea {
  resize: none;
}

.container .btn {
  background-color: #d32f2f;
  color: #ffffff;
  border-radius: 0px;
  outline: none;
}

.jumbotron {
  background-color: #d32f2f;
  /* opacity: 0.2; */
  /* background-image: url("hanoi.jpg"); */
  /* background-size: cover; */
  /* background-position: 1000px 1150px; */
  color: #ffffff;
  text-align: left;
  border-radius: 0;
  overflow: hidden;
  size: 1000px 600px;
}

.jumbotron .btn {
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 0px;
  margin-top: 4px;
}

.jumbotron h1 {
  color: #ffffff;
}

.jumbotron a:link,
.jumbotron a:hover,
.jumbotron a:visited,
.jumbotron a:active {
  text-decoration: none;
  border: none;
}

.eachPostBar:hover {
  transform: translateX(4px);
  /* padding-left: 16px; */
  text-decoration: none;
}

.list-group a {
  color: #000000;
  border-radius: 0px;
}

.list-group .list-group-item {
  /* background-color: #d32f2f; */
  border-bottom: 1px solid #d32f2f;
  border-radius: 0px;
  overflow: hidden;
  border-left: none;
  border-right: none;
  border-top: none;
}

.btn,
btn:hover {
  /* border-right: 1px solid white; */
  margin-right: 6px;
  border-radius: 0px;
  border-left: none;
  border-bottom: none;
  border-top: none;
}

input,
textarea,
.card {
  border-radius: 0px;
}

.card-body {
  border: none;
}

.card-body h5 {
  border-bottom: solid 1px #d32f2f;
  padding-bottom: 6px;
  /* color:white; */
}

.card-header {
  background-color: white;
  padding-top: 16px;
  border-bottom: solid 1px #d32f2f;
}

#postContent {
  height: 200px;
  white-space: pre-wrap;
}

.commentText {
  height: 75px;
  white-space: pre-wrap;
}

.postContent {
  white-space: pre-wrap;
  padding: 10px;
}

a {
  cursor: pointer;
}